In [5]:
import requests
import pandas as pd

In [6]:
def build_url(values):
    return "/".join(['%s' % values[key] for key in values])

In [7]:
values = {
    'location': 75000,
    'version': 'volvo-xc90',
    'year': 2019,
    'mileage': 10000,
    'fuel_type': 'essence',
    'emission': 155,
    'transmission': 'manuelle',
    'door_nb': 4,
    'technical_power': 7,
    'seat_nb': 5,
    'actual_power': 130,
    'body_colour': 'noir',
    'body_type': '4x4'
}

In [8]:
url = f"http://127.0.0.1:5000/prediction/{build_url(values)}"
response = requests.get(url)
print(f"Le prix prédit est égal à {response.text.strip()}€")

Le prix prédit est égal à 52086€

## Optimization

In [9]:
ref_float = pd.read_csv('data/agg_paruvendu.csv')
ref_float.head()

,version,location,price,year,mileage,emission,door_nb,technical_power,seat_nb,actual_power
0,abarth-500,63000.0,19999.0,2019.0,12932.0,155.0,2.0,8.0,4.0,165.0
1,abarth-595,31850.0,21545.0,2017.0,32300.0,139.0,2.0,10.0,4.0,180.0
2,audi-a1,38312.0,17900.0,2017.0,40000.0,104.0,4.0,5.0,5.0,95.0
3,audi-a3,56600.0,20700.0,2017.0,76730.0,114.0,4.0,7.0,5.0,140.0
4,audi-a4,38150.0,24999.0,2017.0,71231.0,132.0,4.0,8.0,5.0,150.0

In [10]:
ref_object = pd.read_csv("data/paruvendu.csv")
ref_object['version'] = ref_object['version'].str.replace('/', '-')
ref_object.head()

,location,version,price,year,mileage,fuel_type,emission,transmission,door_nb,technical_power,seat_nb,actual_power,body_colour,body_type
0,86130.0,dacia-duster,17600.0,2019.0,18300.0,essence,NaN,manuelle,4.0,7.0,5.0,130.0,blanc,4x4
1,59240.0,mini-cooper,24990.0,2018.0,47500.0,essence,119.0,automatique,2.0,10.0,4.0,192.0,rouge foncé,berline
2,53000.0,nissan-qashqai,8490.0,2013.0,166400.0,diesel,129.0,manuelle,4.0,6.0,5.0,110.0,gris,break
3,1300.0,nissan-qashqai,16900.0,2016.0,61500.0,diesel,128.0,automatique,4.0,7.0,5.0,130.0,gris foncé,4x4
4,30200.0,mini-cooper,17900.0,2018.0,58529.0,diesel,99.0,manuelle,4.0,5.0,5.0,95.0,gris,berline

In [11]:
values = {
    'location': 75000,
    'version': 'volvo-xc90',
    'year': 2019,
    'mileage': 10000,
    'fuel_type': 'essence',
    'emission': 155,
    'transmission': 'manuelle',
    
    # Facultatif
    'door_nb': '',
    'technical_power': '',
    'seat_nb': '',
    'actual_power': '',
    'body_colour': '',
    'body_type': ''
}

for key, value in values.items():
    if value == '':
        if key in ['door_nb', 'technical_power', 'seat_nb', 'actual_power']:
            values[key] = int(ref_float[ref_float['version'] == values['version']][key].item())
        else:
            base = ref_object[ref_object['version'] == values['version']][key]
            values[key] = base.value_counts().index[0]

In [12]:
values

{'location': 75000,
 'version': 'volvo-xc90',
 'year': 2019,
 'mileage': 10000,
 'fuel_type': 'essence',
 'emission': 155,
 'transmission': 'manuelle',
 'door_nb': 4,
 'technical_power': 17,
 'seat_nb': 7,
 'actual_power': 269,
 'body_colour': 'gris clair',
 'body_type': '4x4'}

In [13]:
url = f"http://127.0.0.1:5000/prediction/{build_url(values)}"
response = requests.get(url)
print(f"Le prix prédit est égal à {response.text.strip()}€")

Le prix prédit est égal à 56000€

- Faire une veille métier pour savoir quelles colonnes supprimer
- Utiliser stratify pour ne pas biaiser les données
- Utiliser la méthode des KNN pour remplacer les variables catégoriques
- Commenter les notebooks